/*
    Name:       Base16 Oceanic Next Dark
    Author:     Dmitri Voronianski (http://pixelhunter.me)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

.cm-s-base16-oceanicnext-dark.CodeMirror {background: #1B2B34; color: #CDD3DE;}
.cm-s-base16-oceanicnext-dark div.CodeMirror-selected {background: #343D46 !important;}
.cm-s-base16-oceanicnext-dark .CodeMirror-gutters {background: #1B2B34; border-right: 0px;}
.cm-s-base16-oceanicnext-dark .CodeMirror-linenumber {color: #65737E;}
.cm-s-base16-oceanicnext-dark .CodeMirror-cursor {border-left: 1px solid #A7ADBA !important;}

.cm-s-base16-oceanicnext-dark span.cm-comment {color: #AB7967;}
.cm-s-base16-oceanicnext-dark span.cm-atom {color: #C594C5;}
.cm-s-base16-oceanicnext-dark span.cm-number {color: #C594C5;}

/* #6699CC */
.cm-s-base16-oceanicnext-dark span.cm-property, .cm-s-base16-oceanicnext-dark span.cm-attribute {color: #99C794;}
.cm-s-base16-oceanicnext-dark span.cm-keyword {color: #C594C5;}
.cm-s-base16-oceanicnext-dark span.cm-string {color: #FAC863;}

.cm-s-base16-oceanicnext-dark span.cm-variable {color: #FFF;}
.cm-s-base16-oceanicnext-dark span.cm-variable-2 {color: #6699CC;}
.cm-s-base16-oceanicnext-dark span.cm-def {color: #F99157;}
.cm-s-base16-oceanicnext-dark span.cm-error {background: #EC5f67; color: #A7ADBA;}
.cm-s-base16-oceanicnext-dark span.cm-bracket {color: #CDD3DE;}
.cm-s-base16-oceanicnext-dark span.cm-tag {color: #EB606B;}
.cm-s-base16-oceanicnext-dark span.cm-link {color: #C594C5;}

.cm-s-base16-oceanicnext-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}

.cm-s-base16-oceanicnext-dark span.cm-jsx-bracket { color: #FAC863 }
