import React from 'react'
import { Link } from 'react-router'
import Playground from '@monastic.panic/component-playground'

import Codeblock from 'components/Codeblock';
import Console from 'components/Console';

module.exports = class {{ name }} extends React.Component {
  render(){
    return (
      <div>
{{{ body }}}
      </div>
    )
  }
}
