var React = require('react')
  , Link = require('react-router').Link
  , Playground = require('@monastic.panic/component-playground/Playground');

module.exports = class {{ name }} extends React.Component {
  render(){
    return (
      <div>
{{{ body }}}
      </div>
    )
  }
}
