var React = require('react')
  , Playground = require('component-playground');

module.exports = class {{ name }} extends React.Component {
  render(){
    return (
      <div>
{{{ body }}}
      </div>
    )
  }
}
