{
  "rules": {
    "no-alert": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "react/jsx-no-undef": "off",
    "react/no-multi-comp": "off"
  },
  "globals": {
    "render": false,
    "classNames": false,
    "React": false,
    "yup": false,
    "Form": false
  }
}
